<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="NUMERO DE ORDEN">
            <mat-header-cell *matHeaderCellDef mat-sort-header>NUMERO DE ORDEN</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.order_id}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CONDICIÓN">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CONDICIÓN</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.order_condition | converCharToString:'EN PROCESO':'ATENDIDO'}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="TIPO DE ENTREGA">
            <mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DE ENTREGA</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.order_delibery_type}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CLIENTE">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.bClient.client_name}} {{row.bClient.client_lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="SELECCIONE">
            <mat-header-cell *matHeaderCellDef>SELECCIONE</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onUpdate(row);">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(row);">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="5">
                Cargar Data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="5">
                Ningun registro encontrado
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>