<footer class="footer-container" class="color-primario" color="primary">
    <table cellspacing="2" cellpadding="2" height="100%" width="100%"  border="0">
        <tr>
            <td style="font-size: 10px; font-family: Arial, Helvetica, sans-serif" align="center" width="100%">
                Digital Corp Perú SAC 
                <br/>
                <b>Se recomienda utilizar solo los navegadores Chrome Mozilla Firefox versión 6, 7 y superiores</b>
            </td>
        </tr>
    </table>
</footer>
